#freemedialibrary {
	display: flex;
	flex-wrap: wrap;
}

section {
	border: 1px solid rebeccapurple;
	padding: 0.5em;
	margin: 0.5em;
	max-width: min-content;
}

.thumbnail {
	width: 200px; height: 200px;
	background: none center/contain no-repeat;
}

audio {
	/* Audio elements are too wide to fit. Slide them to the left, and guess how much width we get. */
	margin-left: -40px;
	max-width: 140%;
}
